<div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
        <div class="blueAncor achorOnHover">
          <h3><a href="#">Goups</a></h3><br>
          <h3><a href="#">Events</a></h3><br>
          <h3><a href="#">Followed Hashtags</a></h3><br>
          <mat-divider></mat-divider><br>
          <h3>Discover More</h3>
        </div>
        <mat-icon class="colorblue pointer">add</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>