<div fxLayout="column wrap" style="width:%;" fxLayoutAlign="start stretch" [fxShow]="true">
  <mat-card>
    <mat-card-title>Add to your feed</mat-card-title>

    <mat-card-content>
      <div fxLayout="column wrap" style="margin-bottom:1em;" fxLayoutGap="1em" fxLayoutAlign="start start" [fxShow]="true" *ngFor="let feed of page.feedPost">
        <div fxLayout="row " fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="{{feed.photo}}" class="feedImage">
          <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <h3>{{feed.name}}</h3>
              <p>{{feed.post}}</p>
            </div><button mat-button style="height:2rem;border-radius: 1.6rem;border: 1px solid;width:95px;">+follow</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>