<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <mat-card style="width: fit-content;">
    <mat-card-title>Add to your feed</mat-card-title>

    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="row " fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/bandi.jpg" style="width: 48px;     height: 48px; border-radius:50%;">
          <div>
            <h3>Lokhesh Wadhwa</h3>
            <p>hiring for data scientist and data analyst Expert</p>
          </div>
        </div><button mat-button style="height:2rem;border-radius: 1.6rem;border: 1px solid;width:95px;">+follow</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>