<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" style="background:white; height:56px;margin-bottom:25px;" fxLayoutAlign="center center" [fxShow]="true">
    <bh-ToolBar></bh-ToolBar>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row " fxFlex="10px;" fxLayoutGap="2em" fxLayoutAlign="space-between start" [fxShow]="true" fxLayout.xs="column">
        <div fxLayout="column " fxFlex="20" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row " style="margin-bottom:25px;" fxLayoutAlign="center center" [fxShow]="true">
            <bh-LeftProfileComponent></bh-LeftProfileComponent>
          </div>
          <div fxLayout="row wrap" style="margin-bottom:25px;" fxLayoutAlign="center center" [fxShow]="true">
            <bh-discoverMore></bh-discoverMore>
            <mat-panel-description>
              <hr>sort by:
            </mat-panel-description>
          </div>
        </div>
        <div fxLayout="column " fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row " style="margin-bottom:25px;" fxLayoutAlign="center center" [fxShow]="true">
            <bh-searchComponent style="width:100%;"></bh-searchComponent>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="end center" [fxShow]="true">
            <mat-accordion>
              <mat-expansion-panel (opened)="true" (closed)="false">
                <mat-expansion-panel-header>

                  <mat-panel-title>

                  </mat-panel-title>
                  <mat-panel-description>
                    sort by:
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                  Top
                </p>
                <p>
                  Recent
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div fxLayout="row " class="postComponent" fxLayoutAlign="center center" [fxShow]="true">
            <bh-postComponent></bh-postComponent>
          </div>
        </div>
        <div fxLayout="column " fxFlex="20" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row " style="margin-bottom:25px;" fxLayoutAlign="start stretch" [fxShow]="true">
            <bh-feedCompnent></bh-feedCompnent>
          </div>
          <div fxLayout="row " style="margin-bottom:25px;" fxLayoutAlign="start stretch" [fxShow]="true">
            <bh-whosHiringComponent style="width:100%;"></bh-whosHiringComponent>
          </div>
          <div fxLayout="row " fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>