<div fxLayout="column " style="width: 100%;" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" style="height: 53px; border-radius: 4px;" class="backg" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <mat-card style="width: fit-content; align-content:center;width: 89%;">
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/picture.jpg" style="border-radius:50%;margin: -38px auto 12px; border: 2px white solid;width:72px; height: 72px;"></div>
    </mat-card-content>

    <mat-card-content>
      <h3 style="text-align:center;" class="anchorNoUnderline">

        <h3><a href="#">Sambulo P Ntshalintshali</a></h3>
      </h3>
    </mat-card-content>

    <mat-card-content class="feed-hover">
      <div class="achorOnHover">

        <mat-divider></mat-divider><br>
        <p>Connections</p>
        <p><b>Grow your network</b></p><br>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>

    <mat-card-content class="feed-hover">
      <div style="line-height: 6.6px;" class="anchorNoUnderline">
        <p>Access exclussive tools &amp; insights</p><br>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" class="mercado-match" width="24" height="24" focusable="false">
          <path d="M20 20a3.36 3.36 0 001-2.39V6.38A3.38 3.38 0 0017.62 3H6.38A3.36 3.36 0 004 4z" fill="#f8c77e" />
          <path d="M4 4a3.36 3.36 0 00-1 2.38v11.24A3.38 3.38 0 006.38 21h11.24A3.36 3.36 0 0020 20z" fill="#e7a33e" />
        </svg><span><b><a href="#">Try Premium for free</a></b></span><br><br>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>

    <mat-card-content class="feed-hover">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" width="16" height="16" focusable="false">
          <path d="M12 1H4a1 1 0 00-1 1v13.64l5-3.36 5 3.36V2a1 1 0 00-1-1z" />
        </svg><span><b>My items</b></span>
      </div>
    </mat-card-content>
  </mat-card>
</div>