<div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
  <mat-card>
    <mat-card-content style="   ">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row " fxLayoutAlign="start space-between" [fxShow]="true"><img imgSrc="/Web/images/picture.jpg" style="border-radius:50%;height:48px;width:48px;margin-right: 8px;"><button mat-button style="width: 535px;;height:48px;border-radius: 24px;border: 1px solid;">Ask your network for advice</button></div>
        <div fxLayout="row wrap" style="padding-top: 12px; width: 47em;" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let icon of page.navIcons">
            <div fxLayout="row wrap" class="pointer" fxLayoutAlign="space-evenly center" [fxShow]="true">
              <mat-icon style="color:{{icon.color}}">{{icon.icon}}</mat-icon><label class="pointer">
                {{icon.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>