<div fxLayout="row wrap" style="background:white; height:56px;" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="height: 54px;" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="height: 52px;" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="center start" [fxShow]="true"><img imgSrc="/Web/images/logo3.png" style="height: 42px;     width: 42px;"></div>
          <div fxLayout="column " fxFlex="80" fxLayoutAlign="center start" [fxShow]="true">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false">
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="height:52px;" fxFlex="80px;" fxLayoutGap="10px;" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" style="height:52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>home</mat-icon>
            <div>
              Home</div>
          </div>
          <div fxLayout="column wrap" style="height:52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>group</mat-icon>
            <div>
              Network</div>
          </div>
          <div fxLayout="column wrap" style="height:52px; cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>business_center</mat-icon>
            <div>
              Jobs</div>
          </div>
          <div fxLayout="column wrap" style="height:52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>sms</mat-icon>
            <div>
              Message</div>
          </div>
          <div fxLayout="column wrap" style="height: 52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>notifications</mat-icon>
            <div>
              Notifications</div>
          </div>
          <div fxLayout="column wrap" style="height:52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/images/picture.jpg" style="border-radius:50%;height:24px;width:24px;">
            <div>
              Me</div>
          </div>
          <div fxLayout="column wrap" style="height:52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <mat-icon>apps</mat-icon>
            <div>
              Work</div>
          </div>
          <div fxLayout="column wrap" style="height:52px;cursor:pointer;" fxFlex="80px;" fxLayoutAlign="center center" [fxShow]="true">
            <div style="font-size: 11px;">
              <a href="#">Try Premium for free</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>