/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

$backgroundGray:rgb(243 242 239);
$navbackground:rgb(255 255 255);
$blue:#0a66c2;
$mastard:#915907;
*{
    margin: 0;
}
body{
   
    background-color: $backgroundGray;
}
bh-toolbar{ 
    width: 100%;
}
.sidenav{
    height: calc(100% - 56px);
    padding-top: 1em;
}
bh.LeftProfileComponent, bh.searchcomponent,bh.discovermore, bh.postComponent, bh.home{
    width: 100%;
}
.discovermore,.LeftProfileComponent,.searchComponent,.whosHiringComponent,.feedCompnent, .fullWidth {
     width: 100%;
}
.boderLeft{
 border-left: 1px solid;
}
.width100{
    width: 100%;
}
.mat-card-content {
    font-size: 12px;
}
.navAnchor a{
    color:$mastard;
    text-decoration: none;
}
.width68{
  width: 68%;
  
}
.pointer{
    cursor: pointer;
}
.margin25{
    margin-bottom:25px;
}
.blueAncor{
  a{
        color: $blue; 
        text-decoration: none;
    }
}
.colorblue{
    color:$blue;
}
.achorOnHover a:hover{
   color:$blue;
   text-decoration:underline ;
}
.feed-hover:hover {
  background-color: $backgroundGray;
  padding: 0;
  margin: 0;
}
.listStyles{
 list-style: none;
}
.anchorNoUnderline{
    a{
        text-decoration-style:none ;
        text-decoration: none;
        color: black;
    }

}
.feedImage{
    width: 48px;
    height: 48px;
    border-radius:50%;
}

.mat-form-field-infix {
    border-top: none;
    border:1px;
   //  background-color: #eef3f8;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
     padding: 3px;
    // background-color: #eef3f8;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
     margin:0;
    padding: 0;
}
.backg{
background-image: url('https://static-exp1.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq' );
 background-repeat: no-repeat;
 background-size: cover;

img{
width:100%;
}
}